<header class="header ">
      <div class="container">
            <div class="logo">
                  <a href="/" title="MoneyPolo" class="logo__link">
                        <img class="logo__image" src="./public/images/logo.png" alt="Money polo allows to make payments, transfer money, and keep track of transactions online.">
                  </a>
            </div>
            <nav class="nav">
                  <ul class="menu">
                        <li class="menu__item active">
                              <a href="#" class="menu__item__link" data-target="home">Начало</a>
                        </li>
                        <li class="menu__item">
                              <a href="#" class="menu__item__link" data-target="features">Предимства</a>
                        </li>
                        <li class="menu__item">
                              <a href="#" class="menu__item__link" data-target="pricing">Регистрация</a>
                        </li>
                        <li class="menu__item">
                              <a href="#" class="menu__item__link" data-target="gallery">Повече</a>
                        </li>
                        <li id="last-nav-item" class="menu__item ">
                              <a href="#" class="menu__item__link" data-target="gallery">Какво е money polo?</a>
                        </li>
                  </ul>
            </nav>
            <div class="toggle">
                  <div class="toggle-button">
                        <div class="toggle-button__bar"></div>
                  </div>
            </div>
      </div>
</header>
