<!DOCTYPE html>
<html lang="en">

<head>
      <meta http-equiv="Content-Type"
            content="text/html"
            charset=utf-8 />
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description"
            content="Money polo allows to make payments, transfer money, and keep track of transactions online." />
      <title>MoneyPolo</title>
      <link rel="shortcut icon"
            sizes="16x16"
            href="./public/images/favicon-16x16.png">
      <link rel="shortcut icon"
            sizes="32x32"
            href="./public/images/favicon-32x32.png">
      <link rel="shortcut icon"
            sizes="128x128"
            href="./public/images/favicon-128x128.png">
</head>

<body>
      {{> ../partials/header }}
      <main class="main">
            <section class="hero section-shadow">
                  <article class="hero__text">
                        <!-- <h1>До 14% годишна лихва в  MONEY POLO!</h1>
                        <p>Инвестирай без такси и с buy-back гаранция на парите ти.</p> -->
                        <h1>До 14% <span class="mobile"></span>годишна <span class="mobile"></span><span
                                    class="desktop"></span> лихва <span class="mobile"></span>в MONEY POLO!</h1>
                        <p>Инвестирай без такси<span class="mobile"></span> и с buy-back <span class="desktop"></span>
                              гаранция <span class="mobile"></span>на парите ти.</p>
                  </article>
                  <div class="hero__bg-img"></div>
                  <div class="hero__bg-color-fill"></div>
                  <div class="hero__bg-color-levels"></div>
                  <div class="hero__bg-svg-layer">
                  </div>

            </section>
            <section class="features section-shadow">
                  <div class="features__container">
                        <article class="feature">
                              <div class="feature__container">
                                    <img id="feature__img-one"
                                         class="feature__img"
                                         src="./public/images/second_sec_img_1.png"
                                         alt="ДО 14% ГОДИШНА ДОХОДНОСТ">
                              </div>

                              <h2 class="feature__text">ДО 14% ГОДИШНА <span class="desktop"></span> <span
                                          class="mobile"></span>ДОХОДНОСТ</h2>
                        </article>

                        <article class="feature">
                              <div class="feature__container">
                                    <img id="feature__img-two"
                                         class="feature__img"
                                         src="./public/images/second_sec_img_2.png"
                                         alt="ЛЕСНА РАБОТА  С MONEY POLO ПЛАТФОРМАТА">
                              </div>
                              <h2 class="feature__text">ЛЕСНА РАБОТА <span class="mobile"></span> С <span
                                          class="desktop"></span> MONEY POLO <span class="mobile"></span>ПЛАТФОРМАТА
                              </h2>
                        </article>
                        <article class="feature">
                              <div class="feature__container">
                                    <img id="feature__img-three"
                                         class="feature__img"
                                         src="./public/images/second_sec_img_3.png"
                                         alt="BUY-BACK ГАРАНЦИЯ НА ПАРИТЕ ТИ">
                              </div>
                              <h2 class="feature__text">BUY-BACK <span class="mobile"></span> ГАРАНЦИЯ <span
                                          class="desktop"></span> НА <span class="mobile"></span> ПАРИТЕ ТИ</h2>
                        </article>
                  </div>

            </section>
            <section class="contact"></section>
      </main>
      <footer class="footer">
            <p>© 2019 Всички права запазени на Money Polo</p>
      </footer>
</body>

</html>
