
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Regular-webfont.eot?') format('eot'),
       url('../public/fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('../public/fonts/OpenSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light Italic";
  src:
    url("../public/fonts/OpenSans-LightItalic-webfont.eot?") format("eot"),
    url("../public/fonts/OpenSans-LightItalic-webfont.woff") format("woff"),
    url("../public/fonts/OpenSans-LightItalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Light";
  src:
    url("../public/fonts/OpenSans-Light-webfont.eot?") format("eot"),
    url("../public/fonts/OpenSans-Light-webfont.woff") format("woff"),
    url("../public/fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src:
    url("../public/fonts/OpenSans-Bold-webfont.eot?") format("eot"),
    url("../public/fonts/OpenSans-Bold-webfont.woff") format("woff"),
    url("../public/fonts/OpenSans-Bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src:
    url("../public/fonts/Montserrat.eot?") format("eot"),
    url("../public/fonts/Montserrat.woff") format("woff"),
    url("../public/fonts/Montserrat.woff2") format("woff2"),
    url("../public/fonts/Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
